.register{
    background-image:url('../../assets/image/Bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    height: 110vh;
}

.register{
    align-content: centers;
    text-align: center;
    padding: 150px 0; 
    
}
.register h1{
    color: #fff;
    font-size: 50px;
}
.form {
    width: 30%;;
    display: inline-block;
    background: rgba(255, 255, 255, .5);
    border-radius: 22px;
    padding: 2rem;
    margin: 2rem 0 1rem 0;
    text-align: left;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form Link {
    text-align: right;
}
.form span{
    font-size: 15px;
}

.form label{
    margin-top: 20px;
}

.input {
    margin: 20px 0 0 0;
    max-width: 100%;
    width: 100%;
    height: 35px;
    padding: .3rem;
    font-size:20px;
    border-radius: 5px;
    outline: none;
    border-color: #fff;
}

.button {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: .6rem;
    width: 85%;
    font-size: 20px;
    background: #8A0000;
    border: none;
    color: #fff;
    transition: all .5s;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover{
    background: #de4545;
}

.forgetpass{
    width: 30%;
    position: fixed;
    top: 20vh;
    left: 35%;
    z-index: 99;
}
.forgetpass h2{
    text-align: center;
    color: #8A0000;
}
.forgetpass .form{
    width: 100%;
    background: rgba(255, 255, 255);
}
.backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
.direct{
    font-size: 20px;
    color: #8A0000;
    text-decoration: underline;
    cursor: pointer;
  }
  .forgetchoice .direct{
    text-align: right;
}