.card {
  display: flex;
  padding: 10px;
  box-shadow: 5px 4px 18px 0px #00000040;
  margin-bottom: 40px;
  height: 150px;
  border-radius: 10px;
}

.image {
  object-fit: cover;
  margin-right: 20px;
  width: 200px;
}

.detail {
  overflow: hidden;
}

.detail h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.detail p {
  font-size: 14px;
  line-height: 19px;
  color: #b1b1b1;
}