/* CSS global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: LexendRegular;
}

@font-face {
    font-family: LexendRegular;
    src: url('../../assets/font/Lexend-Regular.ttf');
}

@font-face {
    font-family: LexendBold;
    src: url('../../assets/font/Lexend-Bold.ttf');
}