/* showCar */
.showCar {
  position: relative;
  /* margin-top: 100px; */
}
/* Contact */
.contactHeading {
  color: #8a0000;
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
  margin-top: 96px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contactDesc {
  font-size: 2rem;
  color: #858181;
  text-align: center;
  margin-top: 38px;
}

.contactLink {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8a0000;
  color: #fff;
  width: 195px;
  height: 59px;
  font-weight: 400;
  font-size: 2rem;
  box-shadow: 7px 4px 11px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  text-decoration: none;
  margin-top: 116px;
  margin-left: 1053px;
  margin-bottom: 66px;
}

/* Suggest */
.suggest {
  background-color: rgba(163, 0, 0, 0.1);
  height: 695px;
}

.suggestHeading {
  color: #8a0000;
  font-size: 5.6rem;
  font-weight: 700;
  text-align: center;
  padding: 56px 0 48px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.suggestSlider {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin: 0 300px; */
}

.line {
  left: 100px;
  height: 4px;
  width: 730px;
  background-color: #8a0000;
  margin: 88px auto 0;
}

/* Advice */
.advice {
  position: relative;
}

.adviceOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(217, 217, 217, 0.75);
}

.adviceSlider {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 300px; */
}

.adviceHeading {
  color: #8a0000;
  font-size: 5.6rem;
  font-weight: 700;
  text-align: center;
  padding: 56px 0 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Reason Section */
.reason {
  min-height: 500px;
}

.reasonHeading {
  font-size: 5rem;
  font-weight: 700;
  color: #8a0000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 56px 0;
  text-align: center;
}

.reasonParagrapth {
  font-size: 2rem;
  color: #878684;
  max-width: 1000px;
  margin-left: 260px;
  text-align: justify;
  line-height: 1.4;
}

.reasonList {
  list-style: none;
  margin-left: 260px;
}

.reasonItem {
  font-size: 2rem;
  color: #878684;
  margin: 16px 0;
  display: flex;
  align-items: center;
}

.reasonIcon {
  color: #000;
  width: 32px !important;
  height: 32px !important;
  font-size: large;
}

.reasonText {
  margin-left: 20px;
}

/* NEWS section */
.news {
  position: relative;
}

.newsHeading {
  color: #fff;
  font-size: 8rem;
  font-weight: 600;
  padding: 40px 0 56px 0;
  text-align: center;
  text-shadow: 18px 4px 4px rgba(0, 0, 0, 0.25);
}

.newsOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(163, 0, 0, 0.36);
}

.newsList {
  display: flex;
  justify-content: space-evenly;
}
.Vehicle {
  background-color: white;
}
.VehicleHeading {
  padding-top: 70px;
  padding-bottom: 40px;
  font-size: 70px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  animation: lights 5s 750ms linear infinite;
}
@keyframes lights {
  0% {
    color: hsl(0, 100%, 13%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(7, 100%, 47%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(7, 100%, 62%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(354, 100%, 71%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(32, 94%, 52%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}
