.b-popup {
    position: absolute;
    text-align: left;
    width: 744px;
    /* height: 993px; */
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.08);
    border-radius: 16px;
    padding: 52px 48px;
    top: 0;
    left: 0;
    z-index: 999;
  }
  
  .b-popup > h3 {
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
  }
  
  .b-popup > label {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #121127;
    margin-bottom: 5px;
  }
  
  .b-popup > input {
    height: 52px;
    width: 100%;
    padding-left: 10px;
    border-radius: 8px;
    outline: none;
  }
  
  .b-popup > input[type="file"] {
    padding-left: 0;
    border-radius: 0;
  }
  
  .b-popup__label-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .b-popup__label {
    border: 1px solid rgba(18, 17, 39, 0.12);
    border-radius: 100px;
    background-color: #FFFFFF;
    color: #121127;
    font-weight: 600;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .b-popup__label-active {
    background-color: #F2F3FF;
    border: 2px solid #DEE0FA;
    border-radius: 100px;
    font-weight: 600;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    color: #27A8D6;
    cursor: pointer;
  }
  
  .b-popup > p {
    margin: 20px 0;
    color: #FF5F40;
    font-weight: 500;
    font-size: 16px;
  }
  
  .b-popup__button {
    display: flex;
    align-items: center;
  }
  
  .b-popup__button button {
    background-color: #88D6A3;
    border-radius: 8px;
    padding: 14px 32px;
    width: 133px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    margin-right: 40px;
  }
  
  .b-popup__button a {
    background-color: #AFAFAF;
    border-radius: 8px;
    width: 96px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    color: #fff;
    text-decoration: none;
  }
  
  
  .b-popup__close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
    margin-right: 50px;
    font-size: 30px;
    color:gray;
    width: fit-content;
    cursor: pointer;
  }
  
  .b-popup__close:hover {
    color:rgb(70, 70, 70);
  }