.nameType {
  margin-left: 160px;
  padding: 40px 0;
}

.containerLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 160px;
  background: url("https://firebasestorage.googleapis.com/v0/b/showroomcar-6961d.appspot.com/o/Mer%2F800px-Mercedes-Logo%201.png?alt=media&token=853ae274-95ed-489e-8465-7690228f5a8d")
    no-repeat center;
  background-size: contain;
}
