.container {
  margin-top: 170px;
  padding: 0 160px;
  margin-bottom: 150px;
}

.newsSection {
  display: flex;
}

.container h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0em;
  color: #8a0000;
}

.section {
  flex: 3;
  margin-right: 25px;
  margin-top: 86px;
}

.divider {
  border-left: 1px solid rgba(0, 0, 0, 0.8);
}

.link {
  text-decoration: none;
  color: black;
}