
.header {
  width: 100%;
  height: 156px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black ;
}
input{
  padding-left: 35px;
  max-width: 80%;
}
.icon
{
color: rgb(255, 255, 255);
font-size: large;
}
.icons{
color: rgb(0, 0, 0);
position: absolute;
left: 15%;
top:2px;
}
.wrapper
{
  text-align: center;
  position: relative;
  width: 250px;
}
.groupicon a{
padding: 10px;
}
.groupicon
{
position: absolute;
width: fit-content;
right: 60px;
top: 30px;
}


.header .mainmenu {
  list-style: none;
  display: flex;
  box-sizing: content-box;
  width: 100%;
  padding: 0;
  position: relative;
}
.header .menu{
  display: inline-block;
  box-sizing: content-box;
  width: calc(100%/3);
  padding: 30px;
}

.header .item {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  display: block;
}
.header input{
background-color: rgba(255, 255, 255, 0.5);
border-radius: 10px;
height: 26.4px;
width:  265px;
margin: 0 20px;
}
.header img{
width:141px; 
height:122px;
margin-left: 20px;
}
.header .active{
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  display: block;
  border-bottom: 2px solid rgb(255, 255, 255,0.5);
}
.menu a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  padding: 10px;
}

.dropdown {
  display: none;
}
.dropdownshow .submenu{
  text-align: center;
  display: list-item;
  margin: 0;
}
.dropdownshow li:hover{
  background-color: #ffffff;
}

.dropdownshow {
  position: absolute;
  left: 0;
  font-size: 20px;
  list-style: none;
  background-color: rgba(160, 160, 160, 0.64);
  border-radius: 0.5rem;
  width: 100%;
  z-index: 9999;
}
.dropdown a{
  width: 100px;
}






