.itemCarContainer {
  text-align: center;
}
@font-face {
  font-family: myItemFont;
  src: url("../../../assets/font/CorporateALightRegular.otf");
}
.itemCarContainer .carName {
  color: rgb(217, 31, 31);
  font-family: myItemFont;
  font-size: large;
  font-weight: bold;
}
.itemCarContainer .carInfo {
  color: grey;
  font-size: small;
}
.itemCarContainer .buttonDiscoverMore {
  margin: 20px;
  padding: 10px;
  border: 2px solid rgb(144, 15, 15);
  border-radius: 4px;
  text-align: center;
  color: rgb(182, 0, 0);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.itemCarContainer .buttonDiscoverMore:hover {
  background-color: rgb(138, 11, 11);
  color: white;
}
