.itemCarContainer {
    text-align: center;       
    /* background-color: aqua; */
  }


  @font-face {
    font-family: myItemFont;
    src: url("../../../assets/font/CorporateALightRegular.otf");
  }
  .itemCarContainer .carName {
    color: rgb(217, 31, 31);
    font-family: myItemFont;
    font-size: large;
    font-weight: bold;
  }
  .itemCarContainer .carInfo {
    color: grey;
    font-size: 1.4rem;
  }
  .itemCarContainer img {
    margin-top: 30px;
    margin-left: 60px;
    width: 350px;
    object-fit: contain;
    display: flex;
    flex-direction: column;
  }
  .itemCarContainer .buttonDiscoverMore {
      margin: 20px;
      width: 130px;
      height: 50px;
      border: 2px solid rgb(144, 15, 15);
      border-radius: 0.25em;
      text-align: center;
      color: rgb(182, 0, 0);
      font-size: 17px;
      font-weight: bold;
      
      text-shadow: 0 0 0.5em rgb(218, 161, 161);
      transition: 0.6s;
      transition: 0.6s;
      cursor: pointer;
  }
  .itemCarContainer .buttonDiscoverMore:hover { 
      background-color: rgb(138, 11, 11);
      color:white;
      text-shadow: 0 0 0.5em white;
      box-shadow: 0 0 0.5em red;
  }

