.carContainer {
    width: 242px;
    height: 360px;
    background-color: #fff;
    border-radius: 16px;
    /* margin: 0 26px; */
    /* transition: 4s all linear; */
}

.carName {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    padding: 30px 18px 0 ;
    min-height: 105px;
}

.carImg {
    width: 100%;
    height: 142px;
    object-fit: contain;
}

.carLink {
    margin: 36px auto 0;
    width: 146px;
    height: 42px;
    font-size: 18px;
    color: #fff;
    background-color: #91534A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
}

