.container {
    width: 320px;
    min-height: 388px;
    background-color: rgba(255, 255, 255, 0.81);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    text-decoration: none;
}

.img {
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {

}

.heading {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 20px 16px 8px;
    color: #000;
}

.date {
    font-size: 1.8rem;
    color: rgb(154, 154, 154);
    margin: 0 16px;
}

.paragraph {
    font-size: 1.8rem;
    padding: 16px 16px 20px;
    color: #000;
    text-align: justify;
}
