.VehicleContainer {}

.VehicleContainer ul {
    border: 4px solid rgb(199, 191, 191);
    border-style: outset;
    border-radius: 8px;
    margin: 30px auto;
    list-style-type: none;
    width: 1200px;
    display: flex;
}

.VehicleContainer ul li {
    padding-left: 30px;
    padding-top: 10px;
    background-color: rgb(236, 236, 236);
    width: 200px;
    height: 100px;
    transition: 0.5s;
}

.VehicleContainer li:hover {
    background: #d4d4d4;
    cursor: pointer;
}

.imageCar {
    width: 70px;
    height: 70px;
    transition: 0.5s;
}

.imageCar:hover {
    width: 90px;
    height: 90px;
    transform: rotate(5deg);
}

.ItemVehicleCar {

    padding: 72px 100px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}