.carContainer {
    width: 242px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    margin: 40px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2)
    /* margin: 0 26px; */
    /* transition: 4s all linear; */
}

.carName {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding: 30px 0;
    height: 30%;
}

.carImg {
    width: 100%;
    height: 142px;
    object-fit: contain;
}

.carLink {
    margin: 50px auto 0;
    width: 146px;
    height: 42px;
    font-size: 18px;
    color: #fff;
    background-color: #8A0000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
}


.MainSearch
{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    
}



.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #8A0000;
    border-color: #8A0000;
    background-color: #ffffff;
    width: 56px;
    margin: 0 30px ;
}

.pagination button:hover {
    font-weight: 900;
    border-color: #ffffff;
    background: #8A0000;
    color: #ffffff;
}
