.formInputComment {
    margin: 50px 150px 50px 150px;
    background-color: #D9D9D9;
    padding: 20px;
}
.formInputComment .Comment {
    padding: 10px;
    color: black;
    font-size: large;
    font-weight: bolder;
    
}
.carComment {
    background-color: white;
    margin: 50px;
    height: 150px;
    padding: 10px;
    display: flex; 
    border-radius: 5px;
}
.carComment img {
    width: 130px;
    border-radius: 50%;
}
.carComment .nameInfo{
    margin-left: 20px;
    font-size: large;
}
.carComment .commentInfo{
    margin-left: 20px;
    margin-top: 50px;
    font-size: 20px;
}
.inputInfo {
    margin: 50px;
    padding: 30px 130px 30px 130px;
    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;
    border-radius: 5px;
    background-color: #b3acac;
}
.inputInfo .titleComment {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.inputItem {
    /* display: flex; */
}
.inputItem .comment{
    width: 1000px;
    height: 130px;
    border: none;
    border-radius: 8px;
}
.inputItem .name {
    margin-top: 30px;
    margin-right: 70px;
    width: 350px;
    border: none;
    border-radius: 8px;
    height: 50px;
}
.inputItem .email {
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 380px;
}
.post {
    width: 150px;
    height: 40px;
    margin-left: 330px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(189, 20, 20);
    color: whitesmoke;
    font-weight: bold;
}