.information{

}
.information__heading{
    margin-left: 200px;
    

}
.line {
    width: 300px;
    border: 2px solid black;
}
.information__content{
    display: flex;
}
.buy button{
    margin-top: 100px;
    margin-left: 600px;
    width: 250px;
    height: 50px;
    border: 2px solid red;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgb(150, 13, 13);
}
.buy button a{ 
    text-decoration: none;
}
.information__heading__carName {
    /* background-color: aqua; */
    margin-left: 60px;
    display: block;
    color: red;
    font-size: 30px;
}
.information__heading__priceCar {
    color: black;
    padding: 10px;
    margin-left: 60px;

}
.information__content__info {
    margin-left: 200px;
}
.information__content__info p {
    color: gray;
    padding: 10px;
}

.informaton__content__img img {
    margin-left: 100px;
    width: 614px;
    height: 360px;
    
}