.information{
    margin-top: 200px;
    margin-bottom: 100px;
}
.information__heading{
    margin-left: 200px;
    

}
.line {
    width: 500px;
    border: 2px solid black;
}
.information__content{
    display: flex;
}
.buy button{
    margin-top: 100px;
    margin-left: 600px;
    width: 250px;
    height: 50px;
    border: 2px solid red;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgb(236, 0, 0);
    transition: 0.5s;
}
.buy a{ 
    text-decoration: none;
}
.buy button :hover{
    background-color: brown;
}
.information__heading__carName {
    /* background-color: aqua; */
    margin-left: 70px;
    display: block;
    color: red;
    font-size: 40px;
}
.information__heading__priceCar {
    color: black;
    padding: 10px;
    margin-left: 110px;
    font-size: 30px;

}
.information__content__info {
    margin-left: 200px;
}
.information__content__info p {
    font-size: 20px;
    color: rgb(26, 25, 25);
    padding: 10px;
}

.informaton__content__img img {
    margin-left: 10px;
    width: 600px;
    height: 460px;
    
}