.UserPage{
    margin-top: 100px;
}
.UserSide{
    padding-top: 15px;
    text-align: center;
}

.UserSide p{
    color: white;
    font-size: 25px;
    margin:15px 0;
}
.UserSide .SideRole{
    background-color: #824242;
}

.UserSide .SideMail{
    color: rgb(241, 179, 179);
    font-size: 14px;
    text-align: center;
    word-wrap:break-word;
}
.UserSide .button {
    margin-top: 2rem;
    padding: .6rem;
    width: 85%;
    font-size: 20px;
    background: #ffffff;
    border: none;
    color: #8A0000;
    transition: all .5s;
    cursor: pointer;
    border-radius: 10px;
}
.UserSide .button:hover{
    background: #966e6e;
}
/*--------------------------------------*/
.OrderSide{
    margin: 10px  ;
}

.OrderSide p{
   text-align: center; 
   font-size: 15px;
}
.OrderSide h2{
    font-size: 30px;
    margin: 20px 0 0 0;
}
.OrderSide img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
}

.PickStatus
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PickStatus button
{
    color: #a4a4a4;
    padding: 5px 10px;
    margin: 10px 10px 10px 0 ;
    background-color: white;
    cursor: pointer;
    border: none;

}

.Picker{
    width: 30% ;
    box-shadow: 1px 3px 9px #aaaaaa;
}
.StatusPicker
{
   
        width: 30% !important;
        height: 100%;
        font-size: 1.6rem !important;
    box-shadow: 3px 3px 9px #aaaaaa;
}

.menuItem {
    font-size: 1.4rem !important;
}
.OrderSide DatePicker
{
    box-shadow: 3px 3px 9px #aaaaaa;
}
.PickStatus .input {
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
    border-radius: 10px;
    margin-right: 25px;
    height: 40px;
    width: 40%;
    box-shadow: 3px 3px 9px #aaaaaa;
  }
/*-------------------------------------*/
.DetailCard{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.9082983535210959) 28%, rgba(91,0,0,1) 50%, rgba(138,0,0,1) 100%);
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
    padding-bottom: 70px;
    margin: 20px;
}
.DetailCard h2{
    text-align: center;
    font-size: xx-large;
    margin-bottom:10px ;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(200, 200, 200);
}

.DetailCard p{
    font-size: 15px;
    padding: 5px;
}
.DetailCard img {
    height: 60px;
    width: auto;
}
.DetailCard .DetailImg{
    margin: 15px;
}

.DetailCard .asa
{
    background-color: rgba(237, 132, 132, 0.756);
}

.DetailCard .ListCar{
    justify-content: center;
    align-content: stretch;
    padding: 10px;
}

.Listcar{
    display:flex;
}

.ListInfo > div{
    display: flex;
}
.ListInfo p{
    width: 50%;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #fff;
    margin-top: 80px;
}

.logout_btn {
    border: none;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    background-color: #dd1818;
    border-radius: 8px;
    color: #fff;
    margin-top: 36px;
    padding: 10px 20px;
    cursor: pointer;
}

.logout_btn:hover {
    background-color: #ff0000;
}