.formLayer{
    width: 100%;
    background-image: linear-gradient(to right,#c31432, #240b36);
    display: flex;
    justify-content: center;
    align-items: center;
}
.formLayout{
    display: flex;
    width: 800px;
    background-color: white;
    box-shadow: 0px 0px 3px #ccc;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.formImage{
   width: 50%;
   height: auto;
   background: url("../../assets/image/FormImage.png") no-repeat center;
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;

}
.formForm{
    padding: 20px;
   width: 50%;
}
.formTitle{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.formItem{
    display: flex;
    flex-direction: column;
}
.formLabel{
    font-size: 14px;
    color: #777777;
    margin-top: 4px;
    margin-bottom: 4px;
}

.formInput{
    padding: 8px;
    font-size: 14px;
    height: 32px;
    background-color: #D9D9D9;
    border: solid 1px #777777;
    outline: none;
    border-radius: 4px;
}
textarea{
    height: 100px;
    max-height: 120px;
    padding: 8px;
    font-size: 14px;
    background-color: #D9D9D9;
    border: solid 1px #777777;
    outline: none;
    border-radius: 4px;
}
.formSend{
    float: right;
    color: white;
    width: 80px;
    height: 30px;
    background-color: #A30000;
    border-radius: 20px;
    border: none;
    margin-top: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 3px #777;
}
.formSend:focus{
    box-shadow: none;
}
